.platformContainer{
  display: flex;
  flex-direction: column;
  /* margin: 50px 100px; */
}

.upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.lower{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 200px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.platformText{
  font-size: 20px;
  margin-top: 10px;
  color: white;
  text-align: center;
}