.workspaceContainer{
    background: linear-gradient(
        #121212,#171923,#171923
    );
    width: 100vw;
    /* overflow: scroll; */
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}