.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .response {
    flex: 1;
    margin-right: 20px;
    text-align: center;
  }
  
  .chartSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .completionRate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .tableContainer {
    margin: 30px 0;
  }
  
  .responsesTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsesTable th,
  .responsesTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  thead {
    background-color: #333;
    color: white;
  }
  