.chatContainer{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.resultsSection{
    color: #fff;
    text-align: center;

}

.resultsSection h1{
    font-size: 3.5rem;margin-bottom: 25px;
}

.resultsSection p{
    color: #A0AEC0;
    margin-bottom: 70px;
}

.resultsSection .highLight{
    font-weight: 700;
}

.chatBot{
    height: 70vh;
    border-radius: 5px;
    border: 1px solid #A0AEC0;
    padding: 20px;
    width: 45vw;
    /* flex-direction: column; */

}

.box{
    display: flex;
    height: 25vh;
}

.image{
    display: flex;
    align-items: end;
}

.chat p{
    background-color: #1E293B;
    color: #fff;
    margin: 10px 5px;
    padding: 15px 20px;
    border-radius: 10px;
    width: auto;
    display: flex;
}

.yeahBtn{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 15px;
}

.yeahBtn button{
    padding: 10px;
    border-radius: 5px;
    font-size: 500;
    color: #fff;
    background-color: #1A5FFF;
    margin-top: 10px;
    border: none;
}

/* features section */
.moreFeatures{
    color: #fff;
    text-align: center;
    margin-top: 150px;
}

.moreFeatures p{
    /* margin-bottom: 100px; */
}

/* .features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

} */

.one{
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}
.two{
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.feature{
    width: 20vw;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.teams{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams h3{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}


.iconBtn{
    padding: 10px 18px;
    font-size: 1.5rem;
    background-color: #1A5FFF;
    border-radius: 10px;
    border: none;
    color: #fff;
    position: relative;
    top: 22px;

}

.textIcon{
    background-color: #1E293B;
    width: 23vw;
    height: 25vh;
    border-radius: 10px;
    padding: 20px;
}

.textIcon h3{
    margin-top: 5px;
    margin-bottom: 20px;
}

.textIcon p{
    color: #A0AEC0;
}

/* create a formbot */

.createFormBot{
    background: linear-gradient(
        #171923,#1A202C
    );
    color: #fff;
    height: 130vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.createFormBot img{
    width: 19vw;
}

.textContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 30px;
    text-align: center;
}
.textContent button{
    padding: 10px 18px;
    font-size: 1.1rem;
    background-color: #1A5FFF;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.textContent p{
   color: #A0AEC0;
}
.createFormBot h2{
    font-size: 2.3rem;
}

.imageTri{
    position: relative;
    bottom: 28vh;
    right: 7vw;
}
.imageCircle{
    position: relative;
    left: 5vw;
}

