[data-theme="light"]{
  --bg-color:#ffffff;
  --text-color:#000000;
}

[data-theme="dark"]{
  --bg-color : linear-gradient(#121212, #171923, #171923);
  --text-color:#FFFFFFEB;
}


.FormDashboard{
    background: var(--bg-color);
    color: var(--text-color);
    width: 100vw;
    /* overflow: scroll; */
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}
.navbar{
    display: flex;
    justify-content: center;
    height: 8vh;
    
}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    float: right;
    position: sticky;

}

.workName{
    width: 60vw;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border-radius: 1px solid ; */
}

.workName select{
    background-color: transparent;
    color:var(--text-color);
    padding: 10px 20px;
    border-radius: 10px;
}

option{
    background-color: #121212;
}

.logout{
    color: red;
}

.navend{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 100px;
  
}

.navend label{
    color: var(--text-color);
}
.navend button{
    margin-right: 70px;
    color: #fff;
    background-color: #1A5FFF;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
}

.container{
  position: relative;
  /* background-color: red; */
}

/* toogle */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

 
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* create folder and typebot */

  .createBot{
    width: 100vw;
    max-width: 100%;
    position: absolute;
    background: var(--bg-color);
  }

  .createFolder{
    max-width: 100%;
    /* background-color: blue; */
    margin: 50px 50px 30px 250px;
    width: 80vw;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .createFolderBtn{
    color: #fff;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  li{
    list-style: none;
  }

  .createFolderBtn button{
    color: white;
    background-color: rgb(62, 62, 62);
    padding: 10px 22px;
    border-radius: 5px;
    border: none;
  }

  .newBtn i{
    color: #fff;
    margin-right: 5px;
  }

  .createTypeBot{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    
  }

  .createTypeBot button{
   position: relative;
  }

  .createTypeBot button i{
    color: #F55050;
  font-weight: 500;
    position: absolute;
    top: -1.3vh;
    right: -0.3vw;
    font-size: 1.1rem;
  }

  .formNameBtn{
    background-color: #ccccccad;
    height: 240px;
    color:var(--text-color);
    outline: none;
    border: none;
    width: 200px;
    border-radius: 5px;

  }

  .createBotBtn{
    background-color: #1A5FFF;
    color: #fff;
    border: none;
    height: 240px;
    width: 200px;
    border-radius: 5px;
  }

  .plus{
    font-size: 4.5rem;
    font-weight: 400;
}

.plusText{
    font-size: 1.2rem;
    font-weight: 300;
}

/* modal one */

.shareModal{
    width: 100vw;
    position: absolute;
    max-width: 100%; 
    /* background-color: #1A5F; */

}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    max-width: 100%;
    width: 100vw;
    /* background-color: #ccc; */
}

.shareForm{
    background-color: #121212;
    color: #fff;
    width: 60vw;
    border-radius: 20px;
    padding: 10px 30px 70px 30px;
}

.shareText{
  font-size: 2rem;
}

.inputShare{
  border: none;
  background-color: #1f1f1f;
  color: #fff;
}

.editText select{
  background-color: #121212;
  color: white;
  border: none;
  padding: 10px;
}

.email{
  display: flex;
  justify-content: space-between;
}

.shareForm input{
  width: 100%;
  height: 8vh;
  border: none;
  background-color: rgb(62, 62, 62);
}

.sendBtn{
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: #1A5FFF;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.exitForm{
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    margin: 10px 10px 30px ;
}
.exitForm button{
    color: red;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}

/* modal 2 */

.modalTwo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57vh;
  max-width: 100%;
  width: 90vw;
  /* background-color: #1A5FFF; */
}

.createFolderForm{
  background-color: #121212;
  padding: 20px;
  width: 29vw;
  border-radius: 20px;
}

.createFolderForm label{
  font-size: 2rem;
  margin-bottom: 20px;
}

.createFolderForm input{
  width: 100%;
  height: 8vh;
} 

.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 30px; */
  /* margin-top: 30px;
   */
}

.div{
  font-size: 2.5rem;
  font-weight: 200;
  color: #3e3d3d;
}

.buttons button{
  padding: 10px;
  border: none;
  background-color: transparent;
  /* color: #fff; */
  font-size: 1.5rem;
  text-align: center;
}

.doneBtn{
  color: #1A5FFF;
}

.cancelBtn{
  color: #fff;
}


/* name mapping */

.folderList{
  display: flex;
  gap: 10px;
}

.fName i{
  color: #F55050;
  margin-left: 5px;
  font-weight: 300;
  /* background-color: red; */
}

.createFolderName{
  text-align: center;
  display: flex;
  justify-content: center;
}