
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

/* .dangrek-regular {

  font-weight: 400;
  font-style: normal;
} */
